.team-row{
    width:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .team-col{
        width:30%;
        max-width:30%;
        .team-card{
            text-align: center;
            background-color: #ffffff34;
            // border-radius: 20px;
            .team-image{
                width:150px;
                height:auto;
                margin-bottom: 30px;
            }
        }
    }
}